<!doctype html>
<html lang="en">
  <head>
  	<script src="/socket.io/socket.io.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- for link preview -->
    <meta property="og:title" content="Fantasy Football Draft Helper" />
    <meta property="og:description" content="AI-assisted draft recommendations" />

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">      

    <!-- Custom styles for this template -->
    <link href="views/style.css" rel="stylesheet">
  </head>
  <body>
  	<div class='top'>
  		<div class='_'> </div>
  		<div class='heading'> <h1> Fantasy Football Draft Helper</h1> </div>
  		<div class='undo'> <br> <button type="button" id='undo' class="btn btn-light">Undo</button></div>
  	</div>
  	<div class='big-grid'>
  		<div class='team-rosters'> 
  			<div class='current-pick-roster'>
	  			<div class='roster-title' id='roster-title'> Team Roster </div>
					<table id="roster" class="table-layout">
					    <thead>
					    	<th>Position</th>
					        <th>Name</th>
					        <th>Projection (pts)</th>
					    </thead>
					    <tbody id='roster-data'>
					    </tbody>
					</table>  
			</div>	
			<div class='my-roster'>
				<div class='roster-title' id='my-roster-title'> My Roster </div>
				<table id="my-roster" class="table-layout">
				    <thead>
				    	<th>Position</th>
				        <th>Name</th>
				        <th>Projection (pts)</th>
				    </thead>
				    <tbody id='my-roster-data'>
				    </tbody>
				</table>  
			</div>
  		</div>


  		<div class='controls'>
  			<div class="settings">
				League Type <select class="form-select" id="mode-select" aria-label="League Type">
				  <option class="select" value="2-QB-Half-PPR">2-QB-Half-PPR</option>
				  <option class="select" value="PPR">PPR</option>
				</select><br><br>
	  			Number of Teams in League <select class="form-select" id="teams-select" aria-label="Teams">
				  <option class="select" value="2">2</option>
				  <option class="select" value="3">3</option>
				  <option class="select" value="4">4</option>
				  <option class="select" value="5">5</option>
				  <option class="select" value="6">6</option>
				  <option class="select" value="7">7</option>
				  <option class="select" value="8">8</option>
				  <option class="select" value="9">9</option>
				  <option class="select" value="10" selected>10</option>
				  <option class="select" value="11">11</option>
				  <option class="select" value="12">12</option>
				  <option class="select" value="13">13</option>
				  <option class="select" value="14">14</option>
				  <option class="select" value="15">15</option>
				  <option class="select" value="16">16</option>
				  <option class="select" value="17">17</option>
				  <option class="select" value="18">18</option>
				  <option class="select" value="19">19</option>
				  <option class="select" value="20">20</option>
				</select> <br><br>
				Number of Players on Bench <select class="form-select" id="bench-select" aria-label="Bench">
				  <option class="select" value="4">4</option>
				  <option class="select" value="5">5</option>
				  <option class="select" value="6" selected>6</option>
				  <option class="select" value="7">7</option>
				  <option class="select" value="8">8</option>
				  <option class="select" value="9">9</option>
				  <option class="select" value="10">10</option>
				</select> <br><br>
				User Team First Round Pick <select class="form-select" id="user-team-select" aria-label="user">
				</select>
			</div>
   			<div class='recommendations' id='recommendations'> 
   				<div class='recommendations-list-title'> Recommendations </div>
   				<table id="recommendation-list" class="table-layout">
				    <thead>
				    	<th>Position</th>
				        <th>Name</th>
				        <th>Team</th>
				        <th>ADP</th>
				        <th>Pick Grade</th>
				    </thead>
				    <tbody id='recommendation-data'>
				    </tbody>
				</table>  	
  			</div>
    		<div class='info' id='info'> 
  			</div>
  		</div>
  		 <div class='draft-list'>
  			<div class='draft-list-title'> Draft Board
  				 <span class='draft-button'> 
  					<button type="button" id='draft-player' class="btn btn-light">Draft Player</button>
  				</span>
  			</div>

  			<div class='players-list'> 
  				<table id="players" class="table-layout">
				    <thead>
				    	<th>Rank</th>
				        <th>Name</th>
				        <th>Position</th>
				        <th>Team</th>
				        <th>ADP</th>
				    </thead>
				    <tbody id='player-data'>
				    </tbody>
				</table>
  			</div>
  			</div>
		</div>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="/views/index.js"></script>
  </body>
</html>